[data-property-value]   {
    position: relative;
}

[data-property-value]::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 2.5%;
    font-size: calc(1rem + 0.6vh);
}

[data-property-value='0']::before {
    content:'Between'
}

[data-property-value='1']::before {
    content:'Around'
}

[data-property-value='2']::before {
    content:'Evenly'
}

[data-property-value='3']::before {
    content:'Center'
}

